<html ng-app="app">
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/autocomplete.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/index.css' />

    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
</head>
<body>
	<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/autocomplete.js"></script>


	<nav id="mainNav" class="navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <p class="navbar-brand"><%= title %></p>
            </div>
        </div>
    </nav>

	<ng-view></ng-view>

	<!-- Template -->   
	<script type="text/ng-template" id="/overview.html">
	    <div class="panel panel-default" ng-show="numberNewVideos">
        	    <div class="panel-heading">New Videos</div>
    			<div class="panel-body">
					<div ng-repeat="(name, channel) in videos" class="table-responsive">
						<table class="table" ng-show="channel.length">
							<thead>
							    <tr>
							      <th colspan="100%" align="left">
							      	{{name}}
							      	<button type="submit" class="btn btn-link" ng-click="removeChannel(name,channel[0].channel)">
							      		<span class="glyphicon glyphicon-remove-circle"></span>
							      	</button>
							      </th>
							    </tr>
							</thead>
							<tr>
								<td ng-repeat="video in channel">
									<a class="small_link" target="_blank" href="{{video.url}}">
										<p><img src="{{video.thumbnail}}"/></p>
										{{video.title}}
									</a>
								</td>
							<tr>	
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-default" ng-show="numberOldVideos">
				<div class="panel-heading">Already Seen</div>
    			<div class="panel-body">
					<div ng-repeat="(name, channel) in oldVideos" class="table-responsive">
						<table class="table" ng-show="channel.length">
							<thead>
							    <tr>
							      <th colspan="100%" align="left">
							      	{{name}}
							      	<button type="submit" class="btn btn-link" ng-click="removeChannel(name,channel[0].channel)">
							      		<span class="glyphicon glyphicon-remove-circle"></span>
							      	</button>
							      </th>
							    </tr>
							</thead>
							<tr>
								<td ng-repeat="video in channel">
									<a class="small_link" target="_blank" href="{{video.url}}">
										<p><img src="{{video.thumbnail}}"/></p>
										{{video.title}}
									</a>
								</td>
							<tr>	
						</table>
					</div>
				</div>
			</div>

		<div class="row">
			<div class="col-sm-6">
				<autocomplete ng-model="channelInput" data="suggestedChannels" on-type="searchForChannel" attr-placeholder= "Search Channel"/>
			</div>
			<div class="col-sm-6">
				<button class="btn btn-default" ng-click="addNewChannel()">Add</button>
			</div>
		</div>
	</script>
	
	<script>
		angular.module('app', ['ngRoute', 'autocomplete'])

	        // Service
	        .factory('youtube', ['$http', function($http){
	        	return {
	        		newVideos: function () {
	        			return $http.get('/api/youtube/new')
	        		},

	        		oldVideos: function () {
	        			return $http.get('/api/youtube/old')
	        		},

	        		addChannel: function (id, name) {
	        			return $http.post('/api/youtube/channel/new', {id: id, name: name})
	        		},

	        		searchChannel: function (query) {
	        			return $http.get('/api/youtube/channel?query='+query)
	        		},

	        		removeChannel: function (id) {
	        			return $http.delete('/api/youtube/channel/delete?id='+id)
	        		}
	        	}
	        }])

		    // Controller
		    .controller('overviewController', ['$scope', 'youtube', function ($scope, youtube) {
		    	
				youtube.newVideos().success(function (data) {
					$scope.videos = data
					var number = 0
					for (channel in data) {
						number += data[channel].length
					}
					$scope.numberNewVideos = number
				})

				youtube.oldVideos().success(function (data) {
					$scope.oldVideos = data
					var number = 0
					for (channel in data) {
						number += data[channel].length
					}
					$scope.numberOldVideos = number
				})

				$scope.reload = function () {
					youtube.newVideos().success(function (data) {
						$scope.videos = data
						var number = 0
						for (channel in data) {
							number += data[channel].length
						}
						$scope.numberNewVideos = number
					})
				}

				$scope.addNewChannel = function () {
					var name = $scope.channelInput
					var id = $scope.channelMapping[name]
					youtube.addChannel(id, name).success(function (data) {
						$scope.channelInput = ""
						$scope.reload()
					})
				}

				$scope.searchForChannel = function() {
					var query = $scope.channelInput
					var mapping = {}
					youtube.searchChannel(query).success(function (data) {
						var channels = data.map(function (item) {
							mapping[item.name] = item.id
							return item.name
						})
						$scope.suggestedChannels = channels
						$scope.channelMapping = mapping
					})
				}

				$scope.removeChannel = function(name, id) {
					youtube.removeChannel(id).success(function (data) {
						delete $scope.oldVideos[name]
						delete $scope.videos[name]
					})
				}
		    }])

		    .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', function ($scope, $routeParams, Todos) {
		    	$scope.todo = Todos.get({id: $routeParams.id });
		    }])

	        //---------------
	        // Routes
	        //---------------

	        .config(['$routeProvider', function ($routeProvider) {
	        	$routeProvider
	        	.when('/', {
	        		templateUrl: '/overview.html',
	        		controller: 'overviewController'
	        	})

	        }]);
	    </script>
	</body>
</html>