<div class="panel panel-default" ng-show="books.preorder">
	<div class="panel-heading">Books For Preorder</div>
	<div class="panel-body">
		<div class="col-md-12" ng-repeat="(author, values) in books.preorder" ng-show="values.books.length">
			<h5>
				<b>{{author}}</b>
				<button type="submit" class="btn btn-link remove-author" ng-click="removeAuthor(author)">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</button>
			</h5>
			<div id="carousel{{$index}}" class="carousel slide">
				<div class="carousel-inner">
					<div class="item" ng-repeat="book in values.books" ng-class="{'active': $index < 6}">
						<div class="col-xs-2 col-md-2 col-sm-2">
							<p><img src="{{book.thumbnail}}"/></p>
							{{book.title}}
						</div>
					</div>
				</div>
				
				<button type="submit" class="left carousel-control btn-link" ng-click="carouselPrev(author, 'preorder')">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<button type="submit" class="right carousel-control btn-link" ng-click="carouselNext(author, 'preorder')">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default" ng-show="books.published">
	<div class="panel-heading">Available Books</div>
	<div class="panel-body">
		<div class="col-md-12" ng-repeat="(author, values) in books.published" ng-show="values.books.length">
			<h5>
				{{author}}
				<button type="submit" class="btn btn-link remove-author" ng-click="removeAuthor(author)">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</button>
			</h5>
			<div id="carousel{{$index}}" class="carousel slide">
				<div class="carousel-inner">
					<div class="item" ng-repeat="book in values.books" ng-class="{'active': $index < 6}">
						<div class="col-xs-2 col-md-2 col-sm-2">
							<p><img src="{{book.thumbnail}}"/></p>
							{{book.title}}
						</div>
					</div>
				</div>
				<button type="submit" class="left carousel-control btn-link" ng-click="carouselPrev(author, 'published')">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<button type="submit" class="right carousel-control btn-link" ng-click="carouselNext(author, 'published')">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>
			</div>
		</div>
	</div>
</div>