<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<div class="list-group">
   			<div class="list-group-item">
   				<div class="row">
   					<div class="col-xs-9">
      				<h4 class="list-group-item-heading">Users</h4>
      			</div>
      			<div class="col-xs-3">
		      		<button type="button" class="btn btn-link" ng-click="openSearchUserDialog()">
		      			<span class="glyphicon glyphicon-plus"></span>
		      		</button>
		      	</div>
   				</div>
   			</div>
   			<button ng-repeat="user in twitter.users" type="button" class="btn btn-link list-group-item" ng-click="showUser(user)">
      		<p class="list-group-item-text">
	        	{{user.name}}
	      	</p>
   			</button>
			</div>

			<div class="list-group-item">
				<div class="row">
   				<div class="col-xs-9">
      			<h4 class="list-group-item-heading">Topics</h4>
      		</div>
      		<div class="col-xs-3">
		      	<button type="button" class="btn btn-link" ng-click="openAddQueryDialog()">
		      		<span class="glyphicon glyphicon-plus"></span>
		      	</button>
		      </div>
      	</div>
   		</div>
   		<button ng-repeat="topic in twitter.topics" type="button" class="btn btn-link list-group-item" ng-click="showTopic(topic)">
    		<p class="list-group-item-text">
        	{{topic.name}}
      	</p>
 			</button>
		</div>
		<div class="col-xs-9">
			<div ng-repeat="tweet in twitter.tweets">
				{{tweet.name}}
			</div>
		</div>
	</div>
	<modal-dialog show='addUserShown'>
		<h4>Add a user</h4>
			<autocomplete ng-model="twitter.newUser" data="twitter.suggestedUsers" on-type="searchForUsers" attr-placeholder= "Search User">
			</autocomplete>
		<button type="submit" class="btn btn-primary" ng-click="addNewUser()">Add</button>
	</modal-dialog>
	<modal-dialog show='addQueryShown'>
		<h4>Add a query</h4>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputInclude" class="control-label col-xs-2">Include</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputInclude" placeholder="Included Terms">
				</div>
			</div>
			<div class="form-group">
				<label for="inputExclude" class="control-label col-xs-2">Exclude</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputExclude" placeholder="Excluded Terms">
				</div>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="addNewQuery()">Add</button>
		</form>	
	</modal-dialog>
</div>