<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<div class="list-group">
   			<div class="list-group-item">
   				<div class="row">
   					<div class="col-xs-9">
      				<h4 class="list-group-item-heading">Users</h4>
      			</div>
      			<div class="col-xs-3">
		      		<button type="button" class="btn btn-link" ng-click="openSearchUserDialog()">
		      			<span class="glyphicon glyphicon-plus"></span>
		      		</button>
		      	</div>
   				</div>
   			</div>
   			<div ng-repeat="user in twitter.users" class="list-group-item">
   				<div class="row">
		      		<div class="col-xs-9 btn" type="button" ng-click="showUser(user)">
			        	{{user.title}}
			      	</div>
			      	<div class="col-xs-3">
			      		<button type="submit" class="btn btn-link" ng-click="removeUser(user)">
			      			<span class="glyphicon glyphicon-remove-circle"></span>
						</button>
			      	</div>
   				</div>
   			</div>
			</div>

			<div class="list-group-item">
				<div class="row">
   				<div class="col-xs-9">
      			<h4 class="list-group-item-heading">Topics</h4>
      		</div>
      		<div class="col-xs-3">
		      	<button type="button" class="btn btn-link" ng-click="openAddQueryDialog()">
		      		<span class="glyphicon glyphicon-plus"></span>
		      	</button>
		      </div>
      	</div>
   		</div>
   		<div ng-repeat="topic in twitter.topics" class="list-group-item">
    		<div class="row">
    			<div class="col-xs-9 btn" type="button" ng-click="showTopic(topic)">
        			{{topic.title}}
        		</div>
        		<div class="col-xs-3">
        			<button type="submit" class="btn btn-link" ng-click="removeTopic(topic)">
		      			<span class="glyphicon glyphicon-remove-circle"></span>
					</button>
        		</div>
      		</div>
 		</div>
		</div>
		<div class="col-xs-9">
			<div ng-repeat="tweet in twitter.tweets">
				{{tweet.text}}
			</div>
		</div>
	</div>
	<modal-dialog show='addUserShown'>
		<h4>Add a user</h4>
			<autocomplete ng-model="twitter.newUser" data="twitter.suggestedUsers" on-type="searchForUsers" attr-placeholder= "Search User">
			</autocomplete>
		<button type="submit" class="btn btn-primary" ng-click="addNewUser()">Add</button>
	</modal-dialog>
	<modal-dialog show='addQueryShown'>
		<h4>Add a query</h4>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputTitle" class="control-label col-xs-2">Title</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputTitle" ng-model="twitter.newTopic.Title" placeholder="Title of Query">
				</div>
			</div>
			<div class="form-group">
				<label for="inputInclude" class="control-label col-xs-2">Include</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputInclude" ng-model="twitter.newTopic.Included" placeholder="Included Terms (Comma separated)">
				</div>
			</div>
			<div class="form-group">
				<label for="inputExclude" class="control-label col-xs-2">Exclude</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputExclude" ng-model="twitter.newTopic.Excluded" placeholder="Excluded Terms (Comma separated)">
				</div>
			</div>
			<div class="form-group">
				<label for="inputHashtag" class="control-label col-xs-2">Include #'s</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputHashtag" ng-model="twitter.newTopic.Hashtag" placeholder="Included Hashtags (Comma separated)">
				</div>
			</div>
			<div class="form-group">
				<label for="inputMention" class="control-label col-xs-2">Mentioning</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputMention" ng-model="twitter.newTopic.Mention" placeholder="Mentioned User Account (Comma separated)">
				</div>
			</div>
			<div class="form-group">
				<label for="inputDateFrom" class="control-label col-xs-2">Since</label>
				<div class="col-xs-4">
					<md-datepicker ng-model="twitter.newTopic.inputDateFrom" md-placeholder="Enter date"></md-datepicker>
	      </div>
				<label for="inputDateTo" class="control-label col-xs-2">Until</label>
				<div class="col-xs-4">
					<md-datepicker ng-model="twitter.newTopic.inputDateTo" md-placeholder="Enter date"></md-datepicker>
	      </div>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="addNewQuery()">Add</button>
		</form>	
	</modal-dialog>
</div>